@use "variables";

body {
    margin: 0;
    background-color: variables.$bg;
    color: var(--text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area1 {
    margin: 10px;
    padding: 10px;
    background-color:azure;
    border-color: gray;
    border-radius: 10px;
    align-items: start;
    align-self: center;
    width: 70%;
}

button {
    font-size: 1.5rem;
}

ul {
    list-style-image: url("../images/dagger-48.png");
}
